In [1]:
pip install faker

Requirement already satisfied: faker in c:\users\hp\anaconda3\lib\site-packages (33.3.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\hp\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\hp\anaconda3\lib\site-packages (from faker) (4.9.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from faker import Faker
import random
import pandas as pd

fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  1
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [3]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('January', conn, if_exists='replace', index=False)

100

In [4]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  2
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [5]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('February', conn, if_exists='replace', index=False)

100

In [6]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  3
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [7]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('March', conn, if_exists='replace', index=False)

100

In [8]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  4
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [9]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('April', conn, if_exists='replace', index=False)

100

In [10]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  5
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [11]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('May', conn, if_exists='replace', index=False)

100

In [12]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  6
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [13]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('June', conn, if_exists='replace', index=False)

100

In [14]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  7
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [15]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('July', conn, if_exists='replace', index=False)

100

In [16]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  8
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [17]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('August', conn, if_exists='replace', index=False)

100

In [18]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  9
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [19]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('September', conn, if_exists='replace', index=False)

100

In [20]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  10
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [21]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('October', conn, if_exists='replace', index=False)

100

In [22]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  11
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [23]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('November', conn, if_exists='replace', index=False)

100

In [24]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  12
Enter the target year (e.g., 2024):  2025

Sample data for the specified month generated!

In [25]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('December', conn, if_exists='replace', index=False)

100

In [26]:
import sqlite3

#Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('expenses.db')
cursor = conn.cursor()

#Create the consolidated table if it doesn't already exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS AllMonths (
    Date TEXT,
    Category TEXT,
    Payment_Mode TEXT,
    Description TEXT,
    Amount_Paid REAL,
    Cashback REAL
);
''')
conn.commit()

#List of monthly table names
months = ['January', 'February', 'March', 'April', 'May', 'June', 
          'July', 'August', 'September', 'October', 'November', 'December']
#Loop through each month and copy data into the consolidated table
for month in months:
    try:
        # Copy data from the monthly table to the consolidated table
        cursor.execute(f'''
        INSERT INTO AllMonths
        SELECT * FROM {month};
        ''')
        print(f"Data from {month} table has been added to AllMonths.")
    except sqlite3.OperationalError as e:
        print(f"Error with {month} table: {e}. Skipping this table.")

#Commit the changes
conn.commit()

#Verify the number of rows in the consolidated table
cursor.execute('SELECT COUNT(*) FROM AllMonths;')
row_count = cursor.fetchone()[0]
print(f"Total rows in AllMonths table: {row_count}")

#Close the connection
conn.close()

Data from January table has been added to AllMonths.
Data from February table has been added to AllMonths.
Data from March table has been added to AllMonths.
Data from April table has been added to AllMonths.
Data from May table has been added to AllMonths.
Data from June table has been added to AllMonths.
Data from July table has been added to AllMonths.
Data from August table has been added to AllMonths.
Data from September table has been added to AllMonths.
Data from October table has been added to AllMonths.
Data from November table has been added to AllMonths.
Data from December table has been added to AllMonths.
Total rows in AllMonths table: 3600

In [28]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('expenses.db')

# Load the table into a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM AllMonths;", conn)

# Display the DataFrame
print(df)

# show as a table in Jupyter Notebook
from IPython.display import display
display(df)

# Close the connection
conn.close()

            Date        Category Payment_Mode  \
0     2025-01-03           Bills         Cash
1     2025-01-18           Bills         Cash
2     2025-01-21   Entertainment          UPI
3     2025-01-26       Groceries   NetBanking
4     2025-01-20   Entertainment  Credit Card
...          ...             ...          ...
1195  2025-12-13       Groceries  Credit Card
1196  2025-12-05       Groceries   Debit Card
1197  2025-12-02       Groceries   NetBanking
1198  2025-12-27   Subscriptions          UPI
1199  2025-12-22  Transportation   Debit Card

                                            Description  Amount_Paid  Cashback
0                                     The positive act.       276.35      0.00
1                                  What produce expert.       272.53      0.00
2                                       Their sure gun.       397.73      0.43
3                           Believe total fear instead.       274.39      0.00
4          Body interesting picture manage itself must.       242.72      0.00
...                                                 ...          ...       ...
1195                               Same apply much let.        24.58      0.00
1196                     Network administration couple.       143.41      0.00
1197  Capital involve commercial professional necess...       191.71      0.00
1198                                   Shake offer man.       279.79     13.31
1199                               Foot social measure.        23.04     10.28

[1200 rows x 6 columns]

,Date,Category,Payment_Mode,Description,Amount_Paid,Cashback
0,2025-01-03,Bills,Cash,The positive act.,276.35,0.00
1,2025-01-18,Bills,Cash,What produce expert.,272.53,0.00
2,2025-01-21,Entertainment,UPI,Their sure gun.,397.73,0.43
3,2025-01-26,Groceries,NetBanking,Believe total fear instead.,274.39,0.00
4,2025-01-20,Entertainment,Credit Card,Body interesting picture manage itself must.,242.72,0.00
...,...,...,...,...,...,...
1195,2025-12-13,Groceries,Credit Card,Same apply much let.,24.58,0.00
1196,2025-12-05,Groceries,Debit Card,Network administration couple.,143.41,0.00
1197,2025-12-02,Groceries,NetBanking,Capital involve commercial professional necess...,191.71,0.00
1198,2025-12-27,Subscriptions,UPI,Shake offer man.,279.79,13.31
1199,2025-12-22,Transportation,Debit Card,Foot social measure.,23.04,10.28

In [28]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('expenses.db')

# Load the data from the AllMonths table into a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM AllMonths;", conn)

# Save the DataFrame as a CSV file
csv_file_path = "all_months_expenses.csv"
df.to_csv(csv_file_path, index=False)

# Close the database connection
conn.close()

print(f"Data exported successfully to {csv_file_path}")

Data exported successfully to all_months_expenses.csv

In [29]:
import mysql.connector

In [30]:
from getpass import getpass
from mysql.connector import connect, Error

In [55]:
try:
    with connect(
        host = "localhost",
        user = input("Enter username"),
        password = getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username root
Enter password:  ········

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022EFBB1CC90>

In [40]:
mydb=mysql.connector.connect(host='localhost',user='root',password='12345678',database='expense',use_pure=True)

In [41]:
mycursor=mydb.cursor()

In [42]:
df = pd.read_csv ("all_months_expenses.csv")
print(df.head())
print(f"Total rows in CSV: {len(df)}")

         Date       Category Payment_Mode  \
0  2025-01-03          Bills         Cash
1  2025-01-18          Bills         Cash
2  2025-01-21  Entertainment          UPI
3  2025-01-26      Groceries   NetBanking
4  2025-01-20  Entertainment  Credit Card

                                    Description  Amount_Paid  Cashback
0                             The positive act.       276.35      0.00
1                          What produce expert.       272.53      0.00
2                               Their sure gun.       397.73      0.43
3                   Believe total fear instead.       274.39      0.00
4  Body interesting picture manage itself must.       242.72      0.00
Total rows in CSV: 3600